ui-game {
	--building-stroke-size: 2;
	--building-stroke-color: #fff;
	--building-fill-color: #fff4;

	--railway-gravel-stroke-color: #111;

	--railway-rail-stroke-size: 1;
	--railway-rail-stroke-color: #888;

	--map-stroke-size: 2;
	--map-stroke-color: #222;
	--map-fill-color: #000;

	--notch-stroke-size: 4;
	--notch-stroke-color: #ccc;

	position: fixed;
	inset: 0;

	user-select: none;
	-webkit-touch-callout: none;

	ui-map {
		display: block;
		width: 100%;
		height: 100%;

		canvas {
			width: 100%;
			height: 100%;

			// pattern background
			background: linear-gradient(45deg, 
				#000 calc(50% - (var(--map-stroke-size) * 1px / 2)), 
				var(--map-stroke-color) calc(50% - (var(--map-stroke-size) * 1px / 2)), 
				var(--map-stroke-color) calc(50% + (var(--map-stroke-size) * 1px / 2)), 
				#000 calc(50% + (var(--map-stroke-size) * 1px / 2))
			);

			background-size: 1rem 1rem;
			background-repeat: repeat;
		}
	}

	ui-overview {
		position: fixed;
		inset-inline: 0;
		top: 0;

		display: block;

		ui-delivery {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: calc(var(--delivery-indicator-height) - 2rem);
			padding: 1rem;

			border-bottom: 1px solid var(--page-color);
			background: var(--page-background);

			ui-prompt {
				display: block;
				margin-bottom: 0.5rem;
			}

			ui-location {
				display: block;
				
				font-size: 1.5rem;
			}

			ui-progress {
				position: absolute;
				left: 0;
				right: calc(100% - 100% * var(--progress));
				bottom: 1px;

				height: 0.25rem;
				background: var(--player-color);
			}
		}

		ui-status {
			&:not(:empty) {
				display: block;
				padding: 0.5rem 1rem;

				color: var(--page-background);
				background: var(--page-color);

				font-size: 0.8rem;

				ui-player-name {
					display: inline;

					background: var(--color);
				}
			}
		}
	}

	ui-lobby {
		position: fixed;
		inset: 1rem;

		display: flex;
		flex-direction: column;

		background: var(--page-background);
		border: 1px solid var(--page-color);

		ui-invite {
			flex-shrink: 0;

			display: flex;
			flex-direction: column;
			align-items: center;

			padding: 1rem;

			background: var(--page-color);
			color: var(--page-background);
			font-size: 4rem;

			ui-token {
				display: block;

				text-transform: uppercase;
				font-size: 1rem;
				font-weight: bold;
			}

			img {
				width: 10rem;
				margin-bottom: 1rem;
				aspect-ratio: 1;

				image-rendering: pixelated;
			}
		}

		ui-players {
			flex-grow: 1;

			display: block;
			overflow-x: hidden;
			overflow-y: auto;

			border-bottom: 1px solid var(--page-color);

			ui-player {
				display: flex;
				padding: 1rem;

				align-items: center;
				line-height: 1;

				border-bottom: 1px dotted var(--page-color);

				&::before {
					content: '';

					width: 1rem;
					height: 1rem;
					margin-right: 0.5rem;

					border-radius: 50%;
					background: var(--color);
				}

				&[ui-self] {
					font-weight: bold;
				}

				> ui-name {
					flex: 1;

					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				> ui-host {
					color: var(--page-color-dimmed);
				}
			}
		}

		ui-action {
			flex-shrink: 0;
			margin-inline: 1rem;
			margin-top: 1rem;

			&:last-child {
				margin-bottom: 1rem;
			}

			&[ui-start] {
				@include primary-action;
			}

			&[ui-info] {
				@include disabled-action;
			}

			&[ui-leave] {
				@include action;
			}
		}
	}

	ui-tracker {
		position: fixed;
		top: calc(100% * var(--offset-y) - var(--player-size) / 2 - var(--notch-stroke-size) * 1px);
		left: calc(100% * var(--offset-x) - var(--player-size) / 2 - var(--notch-stroke-size) * 1px);

		width: 0;
		height: 0;

		border: calc(var(--player-size) / 2 + var(--notch-stroke-size) * 1px) solid transparent;
		border-right-color: var(--player-color);
		border-radius: 50%;

		transform: rotate(var(--angle));
		transform-origin: center;
	}
}