:root {
	--font-family: tomorrow;
}

@font-face {
	font-family: tomorrow;
	font-weight: regular;
	src: url('./assets/font/regular.ttf');
}

@font-face {
	font-family: tomorrow;
	font-weight: bold;
	src: url('./assets/font/bold.ttf');
}