@import './components.scss';

@import './assets/font/index.scss';
@import './game/index.scss';

:root {
	--page-color: #fff;
	--page-color-dimmed: #ddd;
	--page-background: #000;
	--page-error: #ff5a5a;
}

body {
	margin: 0;
	padding: 0;

	font-family: var(--font-family);

	color: var(--page-color);
	background: var(--page-background);
}

ui-page {
	display: block;
}

ui-home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	position: fixed;
	inset: 0;

	ui-action {
		@include action;

		margin: 1rem;
		padding-block: 1rem;
	}
}

ui-create-game {
	display: flex;
	flex-direction: column;
	padding: 1rem;

	position: fixed;
	inset: 1rem;

	border: 1px solid var(--page-color);

	ui-location ui-title,
	ui-radii ui-title {
		display: block;
		margin-bottom: 0.25rem;

		font-size: 0.8rem;
	}

	ui-location {
		display: block;
		margin-bottom: 1rem;
	}

	ui-radii {
		ui-radius {
			margin-right: 1rem;

			cursor: pointer;

			&[ui-active] {
				color: var(--page-background);
				background: var(--page-color);
			}
		}
	}

	ui-action {
		&[ui-create] {
			@include primary-action;

			margin-top: auto;
		}

		&[ui-back] {
			@include action;

			margin-top: 1rem;
		}
	}
}

ui-join {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 1rem;

	position: fixed;
	inset: 0;

	text-align: center;

	input {
		all: unset;

		display: block;
		width: 8rem;
		padding: 1rem;

		border: 2px solid var(--page-color);
		background: var(--page-background);
		color: var(--page-color);

		text-transform: uppercase;

		&[ui-error] {
			border-color: var(--page-error);
			animation: shake 0.3s;
		}
	}

	ui-action {
		width: 8rem;
		
		&[ui-join] {
			@include primary-action;

			margin-bottom: 1rem;
		}

		&[ui-back] {
			@include action;
		}
	}
}

@keyframes shake {
	0% {
		transform: translate(0px, 0px)
	}

	25% {
		transform: translate(5px, 0px)
	}

	50% {
		transform: translate(-5px, 0px)
	}

	75% {
		transform: translate(5px, 0px)
	}
}